<footer class="mt-8 flex sm:flex-col-reverse justify-between items-center">
  <script>
    try {
      if (!('theme' in localStorage)) {
        localStorage.theme = window.matchMedia('(prefer-color-scheme: dark)').matches ? 'dark' : 'light';
      }
      document.querySelector('html').classList.add(localStorage.theme);
    } catch (e) {
      console.error(e);
    }
    (function() {
      'use strict';

      if(!document.queryCommandSupported('copy')) {
        return;
      }

      function flashCopyMessage(el, msg) {
        el.textContent = msg;
        setTimeout(function() {
          el.textContent = "Copy";
        }, 1000);
      }

      function selectText(node) {
        var selection = window.getSelection();
        var range = document.createRange();
        console.log(node.getElementsByClassName('lntd')[1]);
        range.selectNodeContents(node.getElementsByClassName('lntd')[1]);
        selection.removeAllRanges();
        selection.addRange(range);
        return selection;
      }

      function addCopyButton(containerEl) {
        var copyBtn = document.createElement("button");
        copyBtn.className = "highlight-copy-btn";
        copyBtn.textContent = "Copy";

        var codeEl = containerEl.firstElementChild;
        copyBtn.addEventListener('click', function() {
          try {
            var selection = selectText(codeEl);
            document.execCommand('copy');
            selection.removeAllRanges();

            flashCopyMessage(copyBtn, 'Copied!')
          } catch(e) {
            console && console.log(e);
            flashCopyMessage(copyBtn, 'Failed :\'(')
          }
        });
        containerEl.appendChild(copyBtn);
      }

      // Add copy button to code blocks
      var highlightBlocks = document.getElementsByClassName('highlight');
      console.log(highlightBlocks);
      Array.prototype.forEach.call(highlightBlocks, addCopyButton);
    })();
  </script>

  <p class="mt-0 text-sm">
    {{ .Site.Copyright }}
  </p>
  <p class="flex items-center mt-0">
    {{ range $_, $key := .Site.Params.Social }}
      <a class="icon mx-2" href="{{ $key.url }}" title="{{ $key.name }}">
      {{ if $key.svg }}
        {{ $key.svg | safeHTML }}
      {{ else }}
        {{ index $.Site.Data.svg $key.name | safeHTML }}
      {{ end }}
      </a>
    {{ end }}
  </p>
</footer>